<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <meta http-equiv="Content-Script-Type" content="text/javascript" />
        <meta name="keywords" content="CentOS,Ubuntu,Fedora,Debian,Linux,KVM,Virtualization" />
        <meta name="description" content="The site for people who want to establish the Network Server with CentOS, Ubuntu, Fedora, Debian" />
        <title>{{ page.title }} - {{ site.title }}</title>

        <link href="{{ ASSET_PATH }}/base.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ ASSET_PATH }}/navi.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ ASSET_PATH }}/main.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ ASSET_PATH }}/position.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ ASSET_PATH }}/rouge/thankful_eyes.css" media="screen" rel="stylesheet" type="text/css" />
    </head>
    
    <body>

    