<!-- LEFT BEGIN -->

<div id="left">
    <div class="os">Main Menu</div>
    <div class="navi">
        <ul>
            <li class="tree">
                <a href="#">
                    Java Programming
                </a>
                <ul>
                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;">
                        <a href="#">
                            &nbsp; Apache Maven
                        </a>
                    </li>

                    <li style="border-bottom: 0px;">
                        <a href="/2016/12/09/maven-mirrors">
                            国内镜像
                        </a>
                    </li>
                </ul>
            </li>

            <li class="tree">
                <a href="#">
                    Spring Framework
                </a>
                <ul>
                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;">
                        <a href="#">
                            &nbsp; Spring Boot
                        </a>
                    </li>
                    <li style="border-bottom: #696969 1px solid;">
                        <a href="/2016/12/09/spring-boot-application-properties">
                            application.properties
                        </a>
                    </li>
                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;">
                        <a href="#">
                            &nbsp; Spring Boot Web
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/09/spring-boot-web-create-project">
                            (1) 创建Web项目
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/09/spring-boot-web-integrate-thymeleaf">
                            (2) 集成Thymeleaf
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/09/spring-boot-web-integrate-jdbc">
                            (3) 集成JDBC
                        </a>
                    </li>
                    <li style="border-bottom: 0px;">
                        <a href="/2016/12/09/spring-boot-web-integrate-jtds">
                            (4) 集成jTDS
                        </a>
                    </li>
                </ul>
            </li>


            <li class="tree">
                <a href="#">
                    Linux Management
                </a>
                 <ul>
                    <li>
                        <a href="/2016/11/18/zabbix-agent-installation-using-puppet">
                            使用Puppet安装Zabbix Agent
                        </a>
                    </li>
                </ul>
            </li>

            <li class="tree">
                <a href="#">
                    Miscellaneous
                </a>
                <ul>
                    <li>
                        <a href="/2016/11/19/jekyll-installation-on-windows">
                            Windows下安装Jekyll+Rouge
                        </a>
                    </li>
                    <li class="tree2">
                        <a href="/2016/11/22/vim-commands">
                           Vim常用命令
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>

<!-- LEFT END -->