<!-- LEFT BEGIN -->

<div id="left">
    <div class="os">Main Menu</div>
    <div class="navi">
        <ul>
            <li class="tree">
                <a href="#">
                    Java Programming
                </a>
                <ul>
                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;">
                        <a href="#">
                            &nbsp; Apache Maven
                        </a>
                    </li>

                    <li style="border-bottom: 0px;">
                        <a href="/2016/12/09/maven-mirrors">
                            国内镜像
                        </a>
                    </li>
                </ul>
            </li>

            <li class="tree">
                <a href="#">
                    Spring Framework
                </a>
                <ul>
                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;">
                        <a href="#">
                            &nbsp; Spring Boot
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/25/spring-boot-cli-installation">
                            (1) 安装Spring Boot CLI
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/09/spring-boot-application-properties">
                            (2) application.properties
                        </a>
                    </li>
                    <li style="border-bottom: #696969 1px solid;">
                        <a href="/2016/12/09/spring-boot-application-configuration">
                            (3) 配置说明
                        </a>
                    </li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;">
                        <a href="#">
                            &nbsp; Spring Boot Config
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/26/spring-boot-config-complex-configuration">
                            (1) 组合注解
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/26/spring-boot-config-application-runner">
                            (2) ApplicationRunner
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/26/spring-boot-config-application-event">
                            (3) ApplicationEvent
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/26/spring-boot-config-inject-application-context">
                            (4) ApplicationContext
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/26/spring-boot-config-bean-scope">
                            (5) @Scope
                        </a>
                    </li>
                    <li style="border-bottom: #696969 1px solid;">
                        <a href="/2016/12/26/spring-boot-config-property-source">
                            (6) @PropertySource
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/26/spring-boot-config-bean-lifecycle">
                            (7) @PostConstruct、@PreDestroy
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/26/spring-boot-config-bean-profile">
                            (8) @Profile
                        </a>
                    </li>
                    <li style="border-bottom: #696969 1px solid;">
                        <a href="/2016/12/26/spring-boot-config-enable-scheduling">
                            (9) @Scheduled
                        </a>
                    </li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;">
                        <a href="#">
                            &nbsp; Spring Boot Web
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/09/spring-boot-web-create-project">
                            (1) 创建Web项目
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/09/spring-boot-web-integrate-thymeleaf">
                            (2) 集成Thymeleaf
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/09/spring-boot-web-integrate-jdbc">
                            (3) 集成JDBC
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/09/spring-boot-web-integrate-jtds">
                            (4) 集成jTDS
                        </a>
                    </li>
                    <li>
                        <a href="/2016/12/09/spring-boot-web-static-resources">
                            (5) 静态资源
                        </a>
                    </li>
                    <li style="border-bottom: 0px;">
                        <a href="/2016/12/09/spring-boot-web-deploy-war">
                            (6) 发布war
                        </a>
                    </li>
                </ul>
            </li>


            <li class="tree">
                <a href="#">
                    Linux Management
                </a>
                 <ul>
                    <li>
                        <a href="/2016/11/18/zabbix-agent-installation-using-puppet">
                            使用Puppet安装Zabbix Agent
                        </a>
                    </li>
                </ul>
            </li>

            <li class="tree">
                <a href="#">
                    Miscellaneous
                </a>
                <ul>
                    <li>
                        <a href="/2016/11/19/jekyll-installation-on-windows">
                            Windows下安装Jekyll+Rouge
                        </a>
                    </li>
                    <li class="tree2">
                        <a href="/2016/11/22/vim-commands">
                           Vim常用命令
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>

<!-- LEFT END -->