<!-- LEFT BEGIN -->

<div id="left">
    <div class="os">Main Menu</div>
    <div class="navi">
        <ul>
            <li class="tree java-programming">
                <a href="#">Java Programming</a>
                <ul>
                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;"><a href="#">&nbsp; Apache Maven</a></li>
                    <li><a href="/2016/12/09/maven-mirrors">(1) 国内镜像</a></li>
                    <li style="border-bottom: 0px;"><a href="/2016/12/28/maven-create-project">(2) 创建新项目</a></li>
                    <li style="border-bottom: 0px;"><a href="/2017/01/05/maven-create-archetype">(3) 创建脚手架</a></li>
                </ul>
            </li><!-- /.java-programming -->

            <li class="tree spring-framework" >
                <a href="#">Spring Framework</a>
                <ul style="position: absolute; margin-top: -2.5em;">
                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;"><a href="#">&nbsp; Spring Boot</a></li>
                    <li><a href="/2017/01/07/spring-boot-create-new-project">( 1 ) 创建Spring Boot新项目</a></li>
                    <li><a href="/2017/01/07/spring-boot-initialize-project">( 2 ) 初始化Spring Boot项目</a></li>
                    <li><a href="/2017/01/07/spring-boot-autowired-application-context">( 3 ) 自动注入ApplicationContext</a></li>
                    <li><a href="/2017/01/07/spring-boot-custom-application-event">( 4 ) 自定义ApplicationEvent</a></li>
                    <li><a href="/2017/01/07/spring-boot-package-executable-jar">( 5 ) 发布可执行的jar文件</a></li>
                    <li style="border-bottom: #696969 1px solid;"><a href="/2017/01/07/spring-boot-autowired-application-arguments">( 6 ) 获取Spring Boot启动参数</a></li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;"><a href="#">&nbsp; Spring Config</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-complex-configuration">( 1 ) 组合注解</a></li>
                    <li><a href="/2016/12/09/spring-boot-application-properties">( 2 ) application.properties</a></li>
                    <li><a href="/2016/12/09/spring-boot-application-configuration">( 3 ) 配置说明</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-bean-scope">( 7 ) @Scope</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-property-source">( 8 ) @PropertySource</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-bean-lifecycle">( 9 ) @PostConstruct、@PreDestroy</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-bean-profile">(10) @Profile</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-enable-scheduling">(11) @Scheduled</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-spring-boot-application">(12) @SpringBootApplication</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-import-resource">(13) @ImportResource</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-configuration-properties">(14) @ConfigurationProperties</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-application-profile">(15) application-{profile}.properties</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-enable-auto-configuration">(16) @EnableAutoConfiguration</a></li>
                    <li><a href="/2016/12/26/spring-boot-config-auto-configuration-sample">(17) 自动配置实例</a></li>
                    <li style="border-bottom: #696969 1px solid;"><a href="/2016/12/26/spring-boot-config-enable-configuration-properties">(18) @EnableConfigurationProperties</a></li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;"><a href="#">&nbsp; Spring Mvc</a></li>
                    <li><a href="/2016/12/09/spring-mvc-web-controller">( 1 ) 创建Web项目</a></li>
                    <li><a href="/2016/12/09/spring-mvc-integrate-thymeleaf">( 2 ) 集成Thymeleaf</a></li>
                    <li><a href="/2016/12/09/spring-mvc-static-resources">( 5 ) 静态资源</a></li>
                    <li><a href="/2016/12/09/spring-mvc-devtools">( 6 ) devtools</a></li>
                    <li style="border-bottom: 0px;"><a href="/2016/12/09/spring-mvc-deploy-war">( 7 ) 发布war</a></li>
                </ul>

                <ul style="position: absolute; margin-top: -2.5em; margin-left: 20.3em; border-left: #696969 1px solid; z-index:70;">
                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid; width: 240px; line-height: 19px;"><a href="#">&nbsp; Spring Shell</a></li>
                    <li><a href="/2016/12/27/spring-boot-shell-create-project"">(1) 创建Shell</a></li>
                    <li style="border-bottom: #696969 1px solid;"><a href="/2016/12/27/spring-boot-shell-simple-user"">(2) 定制登录用户</a></li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid; width: 240px; line-height: 19px;"><a href="#">&nbsp; Spring Boot</a></li>
                    <li><a href="/2016/12/28/spring-boot-create-maven-project">(1) 创建Maven项目</a></li>
                    <li><a href="/2016/12/28/spring-boot-application-logging">(4) 应用日志</a></li>
                    <li><a href="/2016/12/26/spring-context-application-event-default">(5) 应用事件</a></li>
                    <li><a href="/2016/12/26/spring-context-application-event-custom">(6) 自定义事件</a></li>
                    <li style="border-bottom: #696969 1px solid;"><a href="/2016/12/25/spring-boot-cli-installation">(7) 安装Spring Boot CLI</a></li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid; width: 240px; line-height: 19px;"><a href="#">&nbsp; Spring JDBC</a></li>
                    <li><a href="/2016/12/28/spring-jpa-jdbc-template">(1) JdbcTemplate</a></li>
                    <li><a href="/2016/12/28/spring-jpa-simple-repository">(2) JPA Repository</a></li>
                    <li style="border-bottom: #696969 1px solid;"><a href="/2016/12/28/spring-jpa-integrate-jtds">(3) 集成jTDS</a></li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid; width: 240px; line-height: 19px;"><a href="#">&nbsp; Spring Test</a></li>
                    <li><a href="/2016/12/28/spring-test-service">(1) 测试服务</a></li>
                    <li style="border-bottom: 0px;"><a href="/2016/12/28/spring-test-controller">(2) 测试控制器</a></li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid; width: 240px; line-height: 19px;"><a href="#">&nbsp; Spring Cloud</a></li>
                    <li><a href="/2017/01/03/spring-cloud-sample-summary">(1) 实例(概述)</a></li>
                    <li><a href="/2017/01/03/spring-cloud-sample-discovery">(2) 实例(discovery)</a></li>
                    <li><a href="/2017/01/03/spring-cloud-sample-config">(3) 实例(config)</a></li>
                    <li><a href="/2017/01/03/spring-cloud-sample-student">(4) 实例(student)</a></li>
                    <li><a href="/2017/01/03/spring-cloud-sample-cli-feign">(5) 实例(cli-feign)</a></li>
                </ul>
            </li><!-- /.spring-framework -->

            <li class="tree linux-management">
                <a href="#">Linux Management</a>
                <ul style="position: absolute; margin-top: -4.2em;">
                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;"><a href="#">&nbsp; Mirrors</a></li>
                    <li><a href="/2016/12/29/linux-aliyun-mirrors">(1) 阿里云镜像</a></li>
                    <li style="border-bottom: #696969 1px solid;"><a href="/2016/12/29/linux-aliyun-epel">(2) 阿里云EPEL</a></li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;"><a href="#">&nbsp; 常用命令</a></li>
                    <li><a href="/2016/12/29/linux-ip-address">(1) IP地址</a></li>
                    <li><a href="/2016/12/29/linux-ps-command">(2) 系统进程</a></li>
                    <li><a href="/2016/12/29/linux-host-name">(3) 主机名称</a></li>
                    <li><a href="/2016/12/29/linux-find-command">(4) 查找文件</a></li>
                    <li><a href="/2016/12/29/linux-netstat-command">(5) 查询端口</a></li>
                    <li><a href="/2016/12/29/linux-systemctl-services">(6) 管理服务</a></li>
                    <li><a href="/2016/12/29/linux-yum-command">(7) YUM命令</a></li>
                    <li><a href="/2016/12/29/linux-rpm-command">(8) RPM命令</a></li>
                    <li><a href="/2016/12/29/linux-firewall-cmd">(9) 防火墙</a></li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid; width: 240px; line-height: 19px;"><a href="#">&nbsp; Puppet</a></li>
                    <li style="border-bottom: #696969 1px solid;"><a href="/2016/11/18/zabbix-agent-installation-using-puppet">(1) 使用Puppet安装Zabbix Agent</a></li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid; width: 240px; line-height: 19px;"><a href="#">&nbsp; Others</a></li>
                    <li style="border-bottom: 0px;"><a href="/2016/11/22/linux-vim-commands">(1) Vim常用命令</a></li>
                </ul>
            </li><!-- /.linux-management -->

            <li class="tree linux-softwares">
                <a href="#">Linux Softwares</a>
                <ul>
                    <li class="tree2">
                        <a href="#">Subversion <span style="display:inline;position:absolute;left:90px;">- &nbsp; 版本控制</span></a>
                        <ul>
                            <li><a href="/2016/12/29/subversion-installation">(1) 安装Subversion</a></li>
                            <li><a href="/2016/12/29/subversion-initial-import">(2) 初始化SVN仓库</a></li>
                            <li><a href="/2016/12/29/subversion-mod-dav-svn">(3) 安装mod_dav_svn</a></li>
                        </ul>
                    </li>

                    <li class="tree2">
                        <a href="#">Httpd <span style="display:inline;position:absolute;left:90px;">- &nbsp; WEB服务器</span></a>
                        <ul>
                            <li><a href="/2016/12/29/httpd-installation">(1) 安装Httpd</a></li>
                            <li><a href="/2016/12/29/subversion-mod-dav-svn">(2) 安装mod_dav_svn</a></li>
                        </ul>
                    </li>

                    <li class="tree2">
                        <a href="#">Puppet<span style="display:inline;position:absolute;left:90px;">- &nbsp; 配置管理</span></a>
                        <ul>
                            <li><a href="#">(1) Install Puppet</a></li>
                        </ul>
                    </li>

                    <li class="tree2" style="border-bottom: 0px;">
                        <a href="#">Zabbix<span style="display:inline;position:absolute;left:90px;">- &nbsp; 系统监控</span></a>
                        <ul>
                            <li><a href="#">(1) Install Zabbix</a></li>
                        </ul>
                    </li>
                </ul>
            </li><!-- /.linux-softwares -->

            <li class="tree miscellaneous">
                <a href="#">Miscellaneous</a>
                <ul>
                    <li><a href="/2016/11/19/jekyll-installation-on-windows">(1) 安装Jekyll+Rouge</a></li>
                    <li style="border-bottom: 0px;"><a href="/2016/12/27/sublime-settings">(2) Sublime设置</a></li>
                </ul>
            </li><!-- /.miscellaneous -->

            <li class="tree linux-commands">
                <a href="#">Linux Commands</a>
                <ul>
                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;"><a href="#">&nbsp; 用户和用户组</a></li>
                    <li><a href="/2016/12/31/linux-command-useradd">(1) useradd <span style="display:inline;position:absolute;left:120px;">- &nbsp; 新建用户</span></a></li>
                    <li><a href="/2016/12/31/linux-command-usermod">(2) usermod <span style="display:inline;position:absolute;left:120px;">- &nbsp; 修改用户</span></a></li>
                    <li><a href="/2016/12/31/linux-command-userdel">(3) userdel <span style="display:inline;position:absolute;left:120px;">- &nbsp; 删除用户</span></a></li>
                    <li><a href="/2016/12/31/linux-command-groupadd">(4) groupadd <span style="display:inline;position:absolute;left:120px;">- &nbsp; 新建用户组</span></a></li>
                    <li><a href="/2016/12/31/linux-command-groupmod">(5) groupmod <span style="display:inline;position:absolute;left:120px;">- &nbsp; 修改用户组</span></a></li>
                    <li><a href="/2016/12/31/linux-command-groupdel">(5) groupdel <span style="display:inline;position:absolute;left:120px;">- &nbsp; 删除用户组</span></a></li>
                    <li><a href="/2016/12/31/linux-command-passwd">(6) passwd <span style="display:inline;position:absolute;left:120px;">- &nbsp; 修改密码</span></a></li>
                    <li><a href="/2016/12/31/linux-command-chown">(7) chown <span style="display:inline;position:absolute;left:120px;">- &nbsp; 变更拥有者</span></a></li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;"><a href="#">&nbsp; 软件管理</a></li>

                    <li style="background: #dcdcdc; border-bottom: #696969 1px solid;"><a href="#">&nbsp; 系统管理</a></li>
                </ul>
            </li><!-- /.linux-commands -->

        </ul>
    </div>
</div>

<!-- LEFT END -->