<!-- TOP BEGIN -->

<div id="top-menu">
    <table id="menu-table" summary="menu">
        <tbody>
            <tr>
                <td class="menu" style="width: 13%;">
                    <a href="/index.html">首页</a></td>
                <td class="menu">
                    <a href="/index.html">分类</a></td>
                <td class="menu"">
                    <a href="/index.html">标签</a></td>
                <td class="menu">
                    <div class="top_navi">
                        <ul>
                            <li>
                                 <a href="#">链接</a>
                                 <ul>
                                    <li>
                                        <a href="http://www.server-world.info/en/">Server World</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td class="menu">
                    <a href="/index.html">关于</a></td>
                <!--    
                <td class="menu">
                    <div class="top_navi">
                        <ul>
                            <li>
                                <a href="http://www.server-world.info/en/note?p=oslist">Other OS Configs</a>
                                <ul>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=CentOS_7&amp;p=download">CentOS 7</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=CentOS_6&amp;p=download">CentOS 6</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=CentOS_5&amp;p=make_media">CentOS 5</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_24&amp;p=download">Fedora 24</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_23&amp;p=download">Fedora 23</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Debian_8&amp;p=download">Debian 8</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Debian_7.0&amp;p=download">Debian 7</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Ubuntu_16.04&amp;p=download">Ubuntu 16.04 LTS</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Ubuntu_14.04&amp;p=download">Ubuntu 14.04 LTS</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=SUSE_Linux_Enterprise_12&amp;p=download">SUSE Linux Enterprise 12</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=SUSE_Linux_Enterprise_Server_11&amp;p=make_media">SUSE Linux Enterprise 11</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Other">Other Tips</a></li>
                                </ul>
                                <ul style="position: absolute; margin-left: 18em; z-index: 90;">
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Debian_6.0&amp;p=download">Debian 6</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_22&amp;p=download">Fedora 22</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_21&amp;p=download">Fedora 21</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_20&amp;p=download">Fedora 20</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_19&amp;p=download">Fedora 19</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_18&amp;p=download">Fedora 18</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_17&amp;p=download">Fedora 17</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_16&amp;p=download">Fedora 16</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_15&amp;p=download">Fedora 15</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_14&amp;p=download">Fedora 14</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_13&amp;p=make_media">Fedora 13</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_12&amp;p=make_media">Fedora 12</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_11&amp;p=make_media">Fedora 11</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Fedora_10&amp;p=make_media">Fedora 10</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Ubuntu_15.04&amp;p=download">Ubuntu 15.04</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Ubuntu_13.04&amp;p=download">Ubuntu 13.04</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Ubuntu_12.04&amp;p=download">Ubuntu 12.04 LTS</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Ubuntu_11.04&amp;p=download">Ubuntu 11.04</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Ubuntu_10.04&amp;p=make_media">Ubuntu 10.04 LTS</a></li>
                                    <li>
                                        <a href="http://www.server-world.info/en/note?os=Scientific_Linux_6&amp;p=download" style="border-bottom: #aaaaaa 0px solid;">Scientific Linux 6</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td class="menu">
                    <a href="http://www.server-world.info/en/note?p=policy">Introductions</a></td>
                <td class="menu">
                    <a href="http://www.server-world.info/en/note?p=new">Histories</a></td>
                <td class="menu">
                    <a href="http://www.server-world.info/en/note?p=command">Commands Help</a></td>
                <td class="menu">
                    <a href="http://www.server-world.info/en/note?p=send">Links/Contact</a></td>
                <td class="menu" style="width: 13%;">
                    <div class="count">19785 / 47796318</div></td>
                -->
            </tr>
        </tbody>
    </table>
</div>

<!-- TOP END -->