<!-- TOP BEGIN -->

<div id="top-menu">
    <table id="menu-table" summary="menu">
        <tbody>
            <tr>
                <td class="menu" style="width: 13%;">
                    <a href="/index.html">首页</a></td>
                <td class="menu">
                    <a href="/index.html">分类</a></td>
                <td class="menu"">
                    <a href="/index.html">标签</a></td>
                <td class="menu">
                    <div class="top_navi">
                        <ul>
                            <li>
                                 <a href="#">链接</a>
                                 <ul>
                                    <li>
                                        <a href="http://www.server-world.info/en/">Server World</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td class="menu">
                    <a href="/index.html">关于</a></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- TOP END -->